nav {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.navlinks {
    display: flex;
    
}

.navlinks div {
    margin: 0px 20px;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    padding: 30px 10px;
}

.dropdown-container button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;

}
.btn-arrow{
    display: flex;
    align-items: center;
    
}
.drop-icon{
    margin-left: 5px;
    font-size: 20px;
    transition: 0.3s;
}
.dropdown-content {
    position: absolute;
    background-color: #333;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    display: none;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}
.dropdown-container:hover .drop-icon{
    transform: rotate(180deg);
}

.dropdown-content a {
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: 0.2s;
}

.dropdown-content a:hover {
    background-color: aliceblue;
    color: black;
}

@keyframes dropdownAnimation {}