:root {
    --deepDark: #16161a;
    --simpleDark: #27272b;
    --orangeColor: #fd3a13;
}

nav {}

.topbar-container {
    width: 100%;
    height: 30px;
    background-color: var(--deepDark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;

}

.topbar-socials a {
    color: white;
    margin-left: 15px
}

.topbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 18px;
    font-size: 13px;
    font-weight: 300;
}

.topbar-container a:hover {
    color: #fd3a13;
}



.navbar-container {
    width: 100%;
    background-color: var(--simpleDark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.logo {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
}

.navlinks {

    display: flex;
    align-items: center;


}

.navlinks div {
    margin: 0px 10px;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    padding: 20px 0px;
    cursor: pointer;
}

.dropdown-container button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
    transition: 0.3s;

}

.dropdown-container button:hover {
    color: var(--orangeColor);
}



.btn-arrow {
    display: flex;
    align-items: center;

}

.drop-icon {
    margin-left: 5px;
    font-size: 20px;
    transition: 0.3s;
    color: white;
}

.dropdown-content {
    position: absolute;
    background-color: #333;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    display: none;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-container:hover .dropdown-btn {
    color: var(--orangeColor);
}

.dropdown-container:hover .drop-icon {
    color: var(--orangeColor);
}


.dropdown-container:hover .drop-icon {
    transform: rotate(180deg);
}

.dropdown-content a {
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: 0.2s;
}

.dropdown-content a:hover {
    background-color: aliceblue;
    color: black;
}

.search-container {
    background-color: var(--deepDark);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-container:hover .search-icon {
    color: var(--orangeColor);
}

.search-icon {
    font-size: 20px;
    color: white;
}
/* hamburger menu code start from here */
.burger-icon {
    display: none;
    color: white;
    font-size: 30px;
}

.hamburger-menu-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    display: none;
    background-color: var(--simpleDark);
  
    z-index: 999;
    transition: 0.6s;

}

.open-hamburger-menu {
    left: 0;
}
.close-icon{
    color: white;
    font-size: 35px;
    margin-left: 85%;
    margin-top: 10px;
}

/* responsive code start from heres */

@media only screen and (max-width: 600px) {

    .topbar-container {
        display: none;
    }

    .dropdown-container {
        display: none;
    }

    .navbar-container {
        padding: 15px 40px;
    }

    .navlinks {
        width: 100%;
        justify-content: space-between;
    }

    .search-container {
        display: none;
    }

    .burger-icon {
        display: block;
    }

    .hamburger-menu-container {
        display: block;
    }
}